
<section id="cubeapp">
  <header id="title">
    <h1>Emotion Regulation</h1>

  </header>

  <form class="form-group">
     <p> Select a current or recent emotional reaction and fill out as much of this sheet as you can. If the prompting event for the emotion you are working on is another emotion that occurred first (for example, feeling afraid prompted getting angry at yourself), then fill out a second homework sheet for that first emotion. Write on a separate page if you need more room.  </P>

    <div>

    <div class="form-inline">
      <label>Question 1: Emotion: </label>
      {{! see here: http://emberjs.com/api/classes/Ember.Select.html}}
      {{view 'select' content=questionOneChoices value=questionOneAnswer class="form-control"}}
    </div>

    <div>
      {{#if questionOneIsOther}}
        <label>What emotion are you feeling?</label>
        {{textarea class="form-control" rows="1" value=questionOneAlternative}}
      {{/if}}
    </div>

    <div>
      <label>Question 2: Intensity (0-100)</label>
      {{input value=questionTwoAnswer type='range'}}
    </div>

    <div>
      <label>Question 3: Prompting event for my emotion: (who, what, when, where) What started the emotion? </label>

      {{textarea class="form-control" rows="3" value=questionThreeAnswer}}
    </div>

    <div>
      <label>Question 4: Interpretations (beliefs, assumptions, appraisals) of the situation? </label>
      {{textarea class="form-control" rows="3" value=questionFourAnswer}}
    </div>

    <div>
      <label>Question 5: Body changes and sensing: What am I feeling in my body? </label>

      {{textarea class="form-control" rows="3" value=questionFiveAnswer}}
      
    </div>

    <div>
      <label>Question 6: Body Language: What is my facial expression? Posture? Gestures? </label>
      {{textarea class="form-control" rows="3" value=questionSixAnswer}}
    </div>

    <div>
      <label>Question 7: Action Urges: What do I feel like doing? What do I really want to say? </label>
      {{textarea class="form-control" rows="3" value=questionSevenAnswer}}
    </div>

    <div>
      <label>Question 8: What I said or did in the situation (be specific) </label>
      {{textarea class="form-control" rows="3" value=questionEightAnswer}}
    </div>

    <div>
      <label>Question 9: What after effect does the emotion have on me (my state of mind, other emotions, behaviour, thoughts, memory, body, etc.)? </label>
      {{textarea class="form-control" rows="3" value=questionNineAnswer}}
    </div>

    <div>
      <label>Question 10: Function of emotion What purpose did the emotion serve (communicate, force me to pay attention, motivate me, cover another emotion)?  </label>
      {{textarea class="form-control" rows="3"value=questionTenAnswer}}
    </div>

    <div>
      <label>Question 11: Taking a second look is there another way to interpret this situation? If so, how would it affect me?  </label>
      {{textarea class="form-control" rows="3" value=questionElevenAnswer}}
    </div>

    <div>
      <label>Question 12: Summary What did I learn about myself from doing this Emotion Sheet? </label>
      {{textarea class="form-control" rows="3" value=questionTwelveAnswer}}
    </div>

    <button type="button" class="btn btn-default" {{action 'saveAnswers'}}>
      Save Answers
    </button>


  </form>

  <footer id="footer">

  </footer>
</section>
