<div class='intro'>
  {{intro}}
</div>

{{#if isClicked}}
  <div class='body'>{{body}}</div>
  <button {{action 'Nothing'}}>Cancel</button>
  <button {{action 'addMilk'}}>Add Milk</button>
  <button {{action 'updateTasks'}}>Update List</button>

  <ul>
    {{#each task in tasks}}
      <li>
        {{task.taskname}}
      </li>
    {{/each}}
  </ul>

{{else}}
<button {{action 'Login'}}>Link to your Dropbox Account</button>

{{/if}}
